@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-toast .Toastify__toast {
  font-weight: 600;
  box-shadow: 2px 2px 1px 1px hsl(0, 0%, 100%);
  font-weight: 550;
}

.custom-toast .Toastify__toast--success {
  background-color: #0d932d;
  color: #ffffff;
}

.custom-toast .Toastify__toast--error {
  background-color: #b7202f;
  color: #ffffff;
}

.custom-toast .Toastify__toast--warning {
  background-color: #c89e23;
  color: #fff;
}
